<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Chat History</h1>
  <ul>
    <% chatHistory.forEach((message) => { %>
      <li><%= message.content %></li>
    <% }); %>
  </ul>

  <% if (totalPages > 1) { %>
    <div>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <% if (i === currentPage) { %>
          <span><%= i %></span>
        <% } else { %>
          <a href="/chathistory/<%= groupId %>?page=<%= i %>&limit=<%= pageSize %>"><%= i %></a>
        <% } %>
      <% } %>
    </div>
  <% } %>
</body>
</html>
